spring:
  application:
    name: anexya-api
  threads:
    virtual:
      enabled: true

server:
  port: 8080
  shutdown: graceful

management:
  endpoints:

  endpoint:
    health:
      probes:
        enabled: true
